<style type = 'text/css'>
#iframe-main{
	width:100%;
	min-height:700px;
	border:none;
}
</style>
<h1>PBL Members Portal</h1>
REF<%= @referrer %>
<!-- <iframe id = 'iframe-main' src = 'https://docs.google.com/document/d/1ZjYT079BffVFE8A40V2N-yFY-7rLQ70ocCBUibvNycY/pub?embedded=true'></iframe> -->

<iframe id = 'iframe-main' src="https://docs.google.com/document/d/1g52wG89t4hUh0VA9dm-DQouCQV2fHUbb5DaWCNbZtmQ/pub?embedded=true"></iframe>