<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @post.content.html_safe %>
    <div>View the full post at <a href = 'http://pbl.link/blog'>pbl.link/blog</a></div>
  </body>
</html>