<table class = 'table table-condensed table-bordered'>
	<thead>
		<th>Name</th>
		<th>Status</th>
	</thead>
	<tbody>
		<% @members.each do |member| %>
		<% if not @response_hash.keys.include?(member.email) %>
		<tr class = 'not-read'>
		<% else %>
		<tr>
		<% end %>
			<td><%= member.name %></td>
			<td>
				<% if @response_hash.keys.include?(member.email) %>
				<%= @response_hash[member.email].response_type %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<h2>Pushes</h2>
<% if @pushes.length == 0 %>
No pushes to show 
<% end %>
<% @pushes.each do |push| %>
<div>
	<a href = '/feed/view_push/<%= push.id %>'><%= push.created_at %></a>
</div>
<% end %>