@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf'); 
}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
  overflow: hidden;
  background-color: #d1d1d1;
}

/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background-color: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Header Stuff ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.title {
  background-color: #d1d1d1;
  font-size: 50px;
  font-family: Montserrat-Medium;
  font-weight: bold;
  margin-left: 0%;
  margin-right: 55%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  padding: 0.2% 0.5% 0.2% 0.5%;
}

.setup {
  background-color: #d1d1d1;
  font-family: Montserrat-Medium;
  margin: 0.5% 30% 1% 10%;
  padding: 0.2% 10% 10% 100%;
  font-size: 14px;
}

.inner_setup {
  padding: 3px 3px 3px 3px;
  border: solid;
  border-color: black;
  color: black;
  min-width: 150%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Header Stuff ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  background-color: #d1d1d1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wrap-table100 {
  width: 90%;
  padding-top: 0%;
}

/*[ Table ]*/

table {
  width: 100%;
  background-color: #fff;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  min-width: 225px;
  padding-left: 25px;
}

.column100.column1 {
  width: 265px;
  height: 90px;
  padding-left: 42px;
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}


/*[ Ver1 ]*/
.table100.ver1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}

.table100.ver1 td {
  font-family: Montserrat-Regular;
  font-size: 16px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver1 th {
  font-family: Montserrat-Medium;
  font-size: 22px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #006680;
}

.table100.ver1 .row100:hover {
  background-color: #f2f2f2;
  transition-duration: 0.01s;
}

.table100.ver1 .hov-column-ver1 {
  background-color: #f2f2f2;
}

.table100.ver1 .hov-column-head-ver1 {
  background-color: #484848;
}

.table100.ver1 .row100 td:hover {
  background-color: #330080;
  color: #fff;
  transition-duration: 0.01s;
}
/*[ Ver1 ]*/

@media screen and (max-width: 760px) {
  body, html {
    overflow: scroll;
  }

  .title {
    padding-top: 4%;
    padding-bottom: 4%;
    margin-right: 5%;
    font-weight: bold;
    font-size: 37px;
  }

  .setup {
    background-color: #d1d1d1;
    font-family: Montserrat-Medium;
    color: grey;
    margin: 1% 120% 1% 10%;
    padding: 5% 10% 10% 100%;
    font-size: 12px;
    min-width: 0%;
  }

  .inner_setup {
    border-width: 1px;
    border-color: grey;
    color: grey;
  }

  tr:nth-of-type(odd) { 
    background-color: #eee; 
  }

  .table100.ver1 td {
    font-family: Montserrat-Regular;
    font-size: 10px;
    color: #808080;
    line-height: 1.4;
  }

  .table100.ver1 th {
    font-family: Montserrat-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: #006680;
  }

  .column100 {
    min-width: 150px;
  }

  .table100.ver1 {
    box-shadow: 0 0 0 0;
  }

  .wrap-table100 {
    width: 100%;
    padding-top: 0%;
  }

  .table100.ver1 .row100:hover {
    background-color: #eee;
    transition-duration: 10000s;
  }

  .table100.ver1 .hov-column-ver1 {
    background-color: inherit;
  }

  .table100.ver1 .hov-column-head-ver1 {
    background-color: inherit;
  }

  .table100.ver1 .row100 td:hover {
    background-color: inherit;
    color: black;
    transition-duration: 100000s;
  }
}