<div>
	<h1>Broadcast to the entire club</h1>
	<textarea id = 'broadcast-text'></textarea>
</div>
<button class = 'send-btn'>Send</button>
<script type = 'text/javascript'>
$('.send-btn').click(function(){
	// alert($('#broadcast-text').val());
	// $('#broadcast-text').val('');
	$.ajax({
		url:'/pablo/broadcast',
		type:'post',
		data:{
			msg: $('#broadcast-text').val()
		},
		success:function(data){
			$('#broadcast-text').val('');
		}
	});
})
</script>