<li class = 'list-group-item'>
	<h3 id = '<%= post.id %>'><%= post.title %></h3>
	<% if post.tags %>
	<% post.tags.each do |tag| %>
		<div class = 'label-default label'><%= tag %></div>
	<% end %>
	<% end %>
	<div><%= raw(post.content)%></div>
</li>