<style type = 'text/css'>
#post-area{
	overflow:auto;
}
</style>




<div class = 'col-md-3'>
	<div class = 'btn btn-default'>Add New Post</div>
</div>
<div id = 'post-area' class = 'col-md-6'>
	<%= will_paginate @posts %>
	<ul class = 'list-group'>
	<% @posts.each do |post| %>
		<li class = 'list-group-item'>
		<h3 id = '<%= post.id %>'><%= post.title %></h3>
		<div><%= raw(post.content)%></div>
		</li>
	<% end %>
	</ul>
</div>
<div class = 'col-md-3'></div>