.post-content:hover{
  opacity:1;
}
.post-content{
   margin-top:20px;
}
.post-toggle:hover{
  cursor:pointer;
}
.post-div{
	border:1px solid rgba(0,0,0,0.1);
  width:45%;
  height:410px;
	margin:10px;
	padding:25px;
	float:left;
  overflow:hidden;
}
.post-div:hover{
  cursor:pointer;
}
.title{
	font-size:1.3em;
	font-weight:bold;
}

.filter-btn{
  margin-top:5px;
}
#top-stuff{

}
.flickr_pagination{
  margin-top:1em;
  margin-bottom:1em;
}
.profile-img{
  height:35px;
  border-radius:100px;
}



#post-area{
  overflow:auto;
}

.post-meta{
  padding:10px;
  margin:5px; 
}
.tag-label>a{
  color:white;
}
#comment-group{
  margin-top:20px;
}
.post-content{
  line-height: 1.5em;
}
#title-box{
  background-color:#f2f2f2;
  padding:15px;
  margin-bottom:15px;
}
.comment-div{
  cursor:pointer;
  padding:5px;
}
.comment-delete-link{
  display:none;
}
.comment-div:hover{
  background-color:#fafafa;
}
#post-modal-dialog{
  width: 69%; /* hehe */
}
#comment-box{
  padding:10px;
  display:inline-block;
  clear:both;
  width:100%;
}
#submit-comment-btn{
  margin-top:10px;
}