
td{
	max-width:120px;
	overflow:auto;
}
tr:hover{
	cursor:pointer;
}

#title-box{
	background-color:#f2f2f2;
	padding:15px;
	margin-bottom:15px;
}

.hilite{
	background-color: rgba(27, 255, 0, 0.25);
}

#checked-div{
	display:none;
}
#pbl-links-title{
	margin-top:0px;
}
#search-input{
	margin-bottom:1em;
}
#create-group-div{
	margin-top:0.5em;
}
.flickr_pagination{
	margin-bottom:15px;
}
#right-div{
	/*margin-top:13em;*/
}
#my-groups-title{
	margin-bottom:0.5em;
}
.half-em{
	margin-bottom:0.5em;
	font-weight:bold;
	font-size: 15px;
}
#pref-link-div{
	display:inline-block;
	text-align: right;
}
#golink-info-outer{
	top:50px;
	right:0px;
	width:400px;
	background-color: #f2f2f2;
	z-index:1000;
	display:none;
}
#close-info-btn{
	margin:1em;
}

.right-td{
	text-align: right;
}
.group-link{
	color:black;
}
.small-group{
	font-size:0.8em;
	margin-bottom:0.2em;
}
.small-group-link{
	color:#3c3c3c !important;
}
.group-link:hover{
	color:#BFBFBF !important;
}
.true-group>a{
	color:red !important;
	text-decoration: underline;
}