.smalltext{
	font-size:10px;
}
.indented{
	margin-left:10px;
}
a{
	color: #4285f4 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
p, div {
    font-family: 'Open Sans', sans-serif;
}
.navbar-inverse .navbar-nav>li>a{
	color:#9d9d9d !important;
	font-family: 'Source Sans Pro';
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: white !important;
}
.btn, .btn-default, .btn-primary{
	border-radius:0px !important;
}
.form-control{
	border-radius:0px !important;
}
.centered{
	text-align: center;
}
select.form-control{
	border-radius:0px !important;
}
.gravatar-img{
	height:30px;
}

.field-input{
	padding:10px;
}
.modal-content{
	border-radius:0px !important;
}