<style type = 'text/css'>
#batch-edit-div{
	position:fixed;
	top:100px;
	left:0px;
	width:300px;
	height:125px;
	background-color:#F2DEDE;
	border-left:none;
	z-index:5000;
	padding:20px;
	display:none;
}
</style>
<div id = 'batch-edit-div'>
	<h4>Modify these <span id = 'batch-number'></span> links?</h4>
	<div class = 'btn btn-danger' id = 'batch-delete-btn'>Delete</div>
	<div class = 'btn btn-info' id = 'batch-edit-btn'>Edit</div>
	<div class = 'btn btn-default' id = 'batch-cancel-btn'>Cancel</div>
</div>