<style type = 'text/css'>
.spaced-div{
	margin-top:10px;
}
#group-emails-input{
	height:100px;
}
</style>

<h4>Create a Group</h4>

<p id = 'groups-info-text'>
	Groups help you keep track of who you've shared your links with.
</p>

<div class = 'spaced-div'>
	<input type = 'text' class = 'form-control' placeholder = 'Group Key (ex: example-key)' id = 'group-key-input'>
</div>

<div class = 'spaced-div'>
	<textarea type = 'text' class = 'form-control' placeholder = 'Group Member Emails, comma separated (ex: davidbliu@gmail.com, ronweasley@gmail.com)' id = 'group-emails-input'></textarea>
</div>

<div class = 'spaced-div'>
	<div class = 'btn btn-info' id = 'create-group-submit'>Create Group</div>
	<div class = 'btn btn-danger' id = 'create-group-cancel-btn'>Cancel</div>
</div>
