<style type = 'text/css'>
.permissions-td:hover{
	cursor:pointer;
}
#permissions-edit{
	position:fixed;
	top:100px;
	right:0px;
	width:300px;
	height:300px;
	background-color:white;
	border:1px solid rgba(0,0,0,0.1);
	border-right:none;
	z-index:5000;
	padding:20px;
	display:none;
}
#permissions-checkboxes-container{
	height:190px;
	overflow:auto;
}
</style>

<div id = 'permissions-edit'>
	<h4><span id = 'permissions-key' ></span> Permissions</h4>
	<div id = 'permissions-checkboxes-container'>
		<% groups.each do |group| %>
			<div>
				<input class = 'permissions-check' type = 'checkbox' id = '<%= group.key.gsub " ", "" %>-checkbox' data-key = '<%= group.key %>'>
				<label><%= group.name ? group.name : group.key %></label>
			</div>
		<% end %>
	</div>
	<div class = 'btn btn-default' id = 'permissions-clear'>Clear</div>
	<div class = 'btn btn-default' id = 'permissions-save'>Save</div>
	<div class = 'btn btn-danger' id = 'permissions-cancel'>Cancel</div>
</div> <!-- end of permissions edit -->