<script type = 'text/javascript' src = '/typeahead.bundle.js'></script>
<%= stylesheet_link_tag 'go' %>

<h3>You've added a link</h3>

<%= render partial:  'go/edit_golink_card', locals: {golink:@golink, groups:@groups} %>

<%= render partial: "go/add_script", locals: {golink: @golink, groups: @groups} %>

<%= javascript_include_tag 'go_add' %>
