<style type = 'text/css'>
.red{
	color:red;
}
</style>

<% if @golinks.length > 1 %>
<h4 class = 'red'>There are multiple PBL Links with the same key</h4>
<% end %>

<%= render partial: 'black_film' %>
<%= render partial: 'permissions_edit', locals: {groups: @groups} %>

<%= render partial: 'table2', locals:{golinks: @golinks} %>

<%= javascript_include_tag 'go_table' %>