<style type = 'text/css'>
table>tbody>tr>td>.click-div{
	max-height:250px !important;
	overflow:auto;
}
</style>

<table class = 'table table-condensed table-bordered'>
<thead>
	<th>Name</th>
	<th>Committee</th>
	<th>Clicks</th>
</thead>
<tbody>
<% @members.each do |member| %>
<tr>
	<td><%= member.name %></td>
	<td><%= member.committee %></td>
	<td>
		<div class = 'click-div'>
		<% @click_hash[member.email].each do |click| %>
		<div>
			<%= click.time_string %> | <%= click.key %>
		</div>
		<% end %>
		</div>
	</td>
</tr>
<% end %>
</tbody>
</table>