<style type = 'text/css'>
td{
	max-width:200px;
	overflow:auto;
}
#search-input{
	width:300px;
}
</style>
<body ng-app = 'goApp'>
<div ng-controller = 'GoCtrl'>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/go/menu">Home</a></li>
  <li role="presentation"><a href="/go/add">Add</a></li>
</ul>
<div style = 'clear:both; height:25px'></div>


<%= will_paginate @golinks %>
<input id = 'search-input' type = 'text' class = 'form-control' placeholder = 'search'>
<%= render partial: 'table' %>
</div>

<!-- <%= @golinks %> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src = 'https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
<script type = 'text/javascript'>
var app = angular.module('goApp', []);
var golinks = <%= raw(@golinks.to_json) %>;
console.log(golinks);
app.controller('GoCtrl', function($scope){
	$scope.golinks = golinks;

	//search
	function activateSearch(){
		$('#search-input').keypress(function(e) {
		    if(e.which == 13) {
		    	searchTerm = $(this).val();
		    	$.ajax({
		    		url: '/go/search',
		    		type: 'GET',
		    		data: {q: searchTerm},
		    		success:function(data){
		    			$scope.golinks = data;
		    			$scope.$digest();
		    			activateEditable();
		    			activateDelete();
		    		}
		    	});
		    }
		});
	}

	//editable
	setTimeout(function(){
		activateEditable();
		activateDelete();
	}, 500);
	activateSearch();
});
</script>

</body>