<script src = 'https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
 <style>
 svg{
 	/*border:1px solid black;*/
 }
 .axis {
   font: 10px sans-serif;
 }

 .axis path,
 .axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
 }

 </style>


<h1>GoLink Time Distribution</h1>

<div class = 'charts'></div>


<script>
// var scoreboard = <%= raw(@scoreboard) %>;
// var data = _.map(scoreboard, function(x){
// 	return x[1];
// });
var data = <%= raw(@bins) %>;
var ranges = <%= raw(@hours) %>;
// simple array
// var data = [8, 12, 15, 30, 43];
// variables for chart width and height

var width = 900;
var height = 300;
var yshift = 15;
var w = width/data.length,
    h = height - yshift;
var chart = d3.select(".charts").append("svg")
    .attr("class", "chart")
    .attr("width", width)
    .attr("height", height);

var x = d3.scale.linear()
    .domain([0, 1])
    .range([0, w]);
     
var y = d3.scale.linear()
    .domain([0, _.max(data)+5])
    .rangeRound([0, h]); //rangeRound is used for antialiasing
// x and y are the lower-left position of the bar
// width is the width of the bar
// height is the height of the bar
// for crisp edges use -.5 (antialiasing)
chart.selectAll("rect")
    .data(data)
  	.enter().append("rect")
    .attr("x", function(d, i) { return x(i) - .5; })
    .attr("y", function(d) { return h - y(d) - .5; })
    .attr("width", w*0.95)
    .attr("height", function(d) { return y(d); } )
    .attr('fill', 'black');

chart.selectAll("text")
   .data(data)
   .enter()
   .append("text")
   .text(function(d,i){	
   		return d;
   })
   .attr("x", function(d, i) {
        return x(i)-.5 + w/2-7;
   })
   .attr("y", function(d) {
        return h - y(d) +15;
   })
   .attr('fill', 'white');
chart.selectAll("text2")
   .data(data)
   .enter()
   .append("text")
   .text(function(d,i){
   		return ranges[i];
   })
   .attr("x", function(d, i) {
        return x(i)-.5 + w/2-7;
   })
   .attr("y", function(d) {
        return h+15;
   })
   .attr('fill', 'black');
// horizontal line for the x-axis
chart.append("line")
     .attr("x1", 0)
     .attr("x2", w * data.length)
     .attr("y1", h - .5)
     .attr("y2", h - .5)
     .style("stroke", "#000");
</script>