<style>
.profile-select{
	padding:10px;
	margin:10px;
	/*border:1px solid black;*/
	/*text-align:center;*/
	margin-left:20%;
	font-size:1.1em;
	height:100%;
	overflow:auto;
}
.profile-select:hover{
	cursor:pointer;
	background-color:yellow;
}
#profiles-menu{
	border-right:1px solid black;
	/*color:white !important;*/
	/*background-color:blue;*/
}
</style>
<div class = 'row'>

<div class = 'col-md-4'>
	<div id = 'profiles-menu'>
		<% @profiles.each do |profile| %>
		<div class = 'profile-select' data-id = '<%= profile.id %>'>
			<%= @email_hash[profile.email].name %>
		</div>
		<% end %>
	</div>
</div>

<div class = 'col-md-8'>
	<div id = 'profile-container'>
		<h2>Click on a profile to see</h2>
	</div>
</div>

</div>

<script>
var selectedProfile = '';
$('.profile-select').click(function(){
	selectedProfile = $(this).attr('data-id');
	$.ajax({
		url:'/profiles/show/'+$(this).attr('data-id'),
		type:'GET',
		success:function(data){
			$('#profile-container').html(data);
		}
	})
})
</script>