<h1>Discontinued for spreadsheet til better idea of how this should work</h1>
<h1>Edit your Profile</h1>

  <div class="form-group">
    <label for="grad-input">Graduation Date</label>
    <input type="text" class="form-control" id="grad-input" placeholder="Graduation Date">
  </div>

  <div class="form-group">
    <label for="positions-input">Past Positions</label>
    <input type="text" class="form-control" id="positions-input" placeholder="Past Position">
  </div>

  <div class="form-group">
    <label for="positions-input">PBL Awards</label>
    <input type="text" class="form-control" id="awards-input" placeholder="Ex: Best Chair">
  </div>

  <div class="form-group">
    <label for="positions-input">SBLC/SFBLC Awards</label>
    <input type="text" class="form-control" id="sblc-input" placeholder="SFBLC/SBLC/NLC Awards">
  </div>

  <div class="form-group">
    <label for="positions-input">Projects</label>
    <input type="text" class="form-control" id="projects-input" placeholder="Ex: Novum, MK Third Gen Spring 2014">
  </div>

   <div class="form-group">
    <label for="blurb-input">Blurb</label>
    <textarea type="text" class="form-control" id="blurb-input" placeholder="Wanna speak about yourself in the third person?"></textarea>
  </div>

  <button type="submit" class="btn btn-default" id = 'submit-btn'>Submit</button>

<script>
$('#submit-btn').click(function(){
	$.ajax({
		url:'/profile/update',
		type:'POST',
		data:{
			email: '<%= myEmail %>',
			description: $('#description-input').val(),
			positions: $('#positions-input').val(),
			sblc: $('#sblc-input').val()
		},
		success:function(data){
			console.log('success');
			console.log('data');
		}
	})
});
</script>