<div class = 'col-md-3'></div>
<div class = 'col-md-6'>
	<h1>You are unauthorized to do that</h1>
	<img src = 'http://rs653.pbsrc.com/albums/uu257/markus69_bucket/MargaretCho.jpg~c200'></img>
</div>
<div class = 'col-md-3'></div>